.box {
    width: 80%;
    margin: 0 auto;
}

.bg-secondary-subtle {
    background-color: #161719 !important;
}

.bg-success-subtle {
    background-color: #051b11 !important;
}

.text-secondary-emphasis {
    color: #a7acb1 !important;
}

.text-success-emphasis {
    color: #60997e !important;
}